form.form {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-left: 15vw;
    
    div.areaInput {
        position: relative;
        
        input.inputContent {
            border: 2px solid rgba(65, 58, 58, 0.2);
            border-right: none;

            width: 380px;

            opacity: 0.3;
        
            padding: 11px 20px;

            outline: none;
            box-shadow: none;
        }

        input.inputContent::placeholder {
            color: var(--primary-desaturated-red);
        }
    
        img.error {
            right: 70px;
        }
        
        button.buttonInput {
            right: -15px;
            
            width: 70px;
            height: 40px;
            
            border: none;
            
            background-image: linear-gradient(to right, var(--from-gradient-normal-left-button), var(--to-gradient-normal-right-button))
        }
        
        img.error, button.buttonInput {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        input.inputContent, button.buttonInput {
            border-radius: 90px;
        }
    }
}

span.textError {
    color: #F96464;

    font-size: 15px;

    opacity: 0.8;

    margin-left: 20px;
    margin-top: 10px;
}

form.form, div.areaInput {
    display: flex;
}

@media screen and (max-width: 1011px) {
    form.form {
        margin-left: 0;

        div.areaInput {

            input.inputContent {
                width: 200px;
            }
        }
    }
}