div#container {
  width: 100%;
  height: 100vh;
  
  div#image {
    width: 100vh;
    height: 100vh;

    float: right;

    box-sizing: border-box;

    background-size: cover;
    background-image: url(/hero-desktop.jpg);
  }
}
