div#content {
    height: 50vh;

    font-family: 'Josefin Sans';
    h1 {
        font-size: 9vh;
        font-weight: 600;

        letter-spacing: 20px;
        line-height: 9vh;

        margin-top: 2.5rem;
       
        span {
            
            font-weight: 300;
        }
    }
    
    span, p {
        color: var(--primary-desaturated-red);
    }
    
    h1, p {
        margin-left: 15vw;
        margin-right: 15vw;
        width: 435px;
    }

    p {
        margin-top: 3.5vh;
        line-height: 35px;
    }
}